<!DOCTYPE html>
<html>

    <head>

        {# page #}
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset_image('DI/flask-adaptive.svg') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# lib #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src=" https://releases.jquery.com/git/ui/jquery-ui-git.js"></script>
        <script src="{{ asset_js('ckeditor/ckeditor.js') }}"></script>
        <script src="https://kit.fontawesome.com/f2d58012d0.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

        {# css #}
        <link href='{{ asset_css('DI/app.css') }}' rel='stylesheet'>

        {# JS #}
        <script src="{{ asset_js('DI/toolkit.js') }}"></script>
        <script src="{{ asset_js('DI/app.js') }}"></script>

        {# - BLOCK HEAD - #}
        {% block head %}{% endblock %}

    </head>

    <body data-bs-theme="light">

        <!-- navbar -->
        <nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="app_icon" src="{{ asset_image('DI/flask-solid.svg') }}" width="24px"> Forms SDK</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('home') }}">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Edit Object
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('object_edit',  {'class': 'Organization', 'id': 1}) }}">Organization</a></li>
                                <li><a class="dropdown-item" href="{{ path('object_edit',  {'class': 'Person', 'id': 1}) }}">Person</a></li>
                                <li><a class="dropdown-item" href="{{ path('object_edit',  {'class': 'UserLocal', 'id': 1}) }}">UserLocal</a></li>
                                <li><a class="dropdown-item" href="{{ path('object_edit',  {'class': 'UserRequest', 'id': 1}) }}">UserRequest</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                New Object
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('object_edit',  {'class': 'Organization', 'id': 0}) }}">Organization</a></li>
                                <li><a class="dropdown-item" href="{{ path('object_edit',  {'class': 'Person', 'id': 0}) }}">Person</a></li>
                                <li><a class="dropdown-item" href="{{ path('object_edit',  {'class': 'UserLocal', 'id': 0}) }}">UserLocal</a></li>
                                <li><a class="dropdown-item" href="{{ path('object_edit',  {'class': 'UserRequest', 'id': 0}) }}">UserRequest</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{{ path('configuration_edit') }}" class="nav-link">Edit Configuration</a>
                        </li>
                    </ul>
                    <div>
                        <button id="dark_mode" type="button" class="btn" role="button" data-bs-toggle="button" aria-pressed="false"><i class="fa-solid fa-moon text-warning"></i></button>
                    </div>
                    <form class="actions d-flex">
                        {% block actions %}{% endblock %}
                    </form>
                </div>
            </div>
        </nav>

        {# - BLOCK BODY - #}
        <div class="m-3">
            {% block body %}{% endblock %}

        </div>

        {# - BLOCK TOASTS - #}
        <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
            {% block toasts %}{% endblock %}
        </div>

        <!-- Full screen modal -->
        <div class="modal fade" id="object_modal" tabindex="-1" aria-labelledby="object_modal1" aria-hidden="true">
            <div class="modal-dialog modal-fullscreen">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="exampleModalFullscreenLabel">Create object</h1>
                        <div>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            <button type="button" class="btn btn-primary" data-action="save_modal_object" aria-label="Confirm">Confirm</button>
                        </div>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>


        <div id="test">


        </div>

        <script>

            // Toolkit
            const oToolkit = new Toolkit();
            oToolkit.init();

            // App initialization
            const oApp = new App();
            oApp.init();

            $(document).ready(function(e) {

                {# - BLOCK READY SCRIPTS - #}
                {% block ready_scripts %}{% endblock %}

            });

        </script>

    </body>

</html>
