<!DOCTYPE html>
<html>

    <head>

        {# page #}
        <title>{% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset_image('DI/flask-adaptive.svg') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# lib #}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src=" https://releases.jquery.com/git/ui/jquery-ui-git.js"></script>
        <script src="{{ asset_js('ckeditor/ckeditor.js') }}"></script>
        <script src="https://kit.fontawesome.com/f2d58012d0.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

        {# css #}
        <link href='{{ asset_css('DI/app.css') }}' rel='stylesheet'>

        {# JS #}
        <script src="{{ asset_js('DI/toolkit.js') }}"></script>
        <script src="{{ asset_js('DI/app.js') }}"></script>

        {# - BLOCK HEAD - #}
        {% block head %}{% endblock %}

    </head>

    <body data-bs-theme="light">

        {# navbar #}
        {% include 'DI/navbar.html.twig' %}

        {# - BLOCK BODY - #}
        <div class="m-3">
            {% block body %}{% endblock %}
        </div>

        {# - BLOCK TOASTS - #}
        <div class="toast-container position-fixed bottom-0 start-50 translate-middle-x p-3">
            {% block toasts %}{% endblock %}
        </div>

        {# - BLOCK MODALS - #}
        {% block modals %}{% endblock %}

        {# scripts #}
        <script>

            // Toolkit
            const oToolkit = new Toolkit();
            oToolkit.init();

            // App initialization
            const oApp = new App();
            oApp.init();

            $(document).ready(function(e) {

                {# - BLOCK READY SCRIPTS - #}
                {% block ready_scripts %}{% endblock %}

            });

        </script>

    </body>

</html>
